.cartItem {
  display: grid;
  grid-template-columns: 10% 65% 23%;

  height: 9rem;
  width: 100%;
  border-bottom: 1px solid rgb(192, 188, 188);
  margin-left: 0rem 2rem;
  padding-bottom: 1rem 0rem;
}
.cartItem__image {
  width: 8rem;
  height: 8rem;
  padding: 0.5rem;
}
.cartItem__text {
  display: grid;
  padding-left: 1rem;
}
.cartItem__price {
  text-align: right;
}
.cartItem__text__small {
  color: green;
}
.cartItem__text__title {
  color: #007185;
  margin-bottom: 0rem;
}
.cartItem__text__button {
  border: none;
  background-image: none;
  width: 4rem;
  color: #007185;
  outline-style: none;
  background-color: transparent;
  text-align: left;
  padding: 0rem;
  cursor: pointer;
}
.cartItem__text__button:hover {
  text-decoration: underline;
  background-image: none;
}
.cartItem__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cartItem__price__amount {
  font-weight: 500;
}
