.checkout {
  display: grid;
  grid-template-columns: 8fr 2fr;
  min-height: 65vh;
  grid-gap: 0.2rem;
  background-color: #eaeded;
}

.checkout__list__image {
  width: 98%;
  height: 9rem;

  background-image: url("https://res.cloudinary.com/dalytekam/image/upload/v1605332833/amazon_promo_visa_pic.png");
  background-position: center center;
  background-size: cover;
  margin-top: 1rem;
  margin-left: 2rem;
}

.checkout__list__title {
  border-bottom: 1px solid rgb(192, 188, 188);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 0rem;
  font-size: 1.9rem;
  font-weight: 500;
  background-color: #fff;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}
.checkout__list__items {
  display: grid;
  background-color: #fff;
  margin-left: 2rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.checkout__list__items__subtotal p {
  font-size: 1.5rem;
}
.checkout__list__items__subtotal span {
  font-weight: 700;
}
.checkout__list__items__subtotal {
  display: grid;
  justify-content: end;
  padding-right: 1.5rem;
}
