.similar {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}
.similar__right__money {
  color: red;
  font-size: 0.8rem;
  margin-top: 0rem;
}
.similar__right {
  display: grid;
  text-align: left;
}
.similar__left img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.similar__right h3 {
  color: #007185;
  font-size: 0.9rem;
  margin-bottom: 0rem;
}
.similar__left {
  height: 7rem;
}
