.subheader {
  display: flex;
  background-color: #232f3e;
}
.subheader__link {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.subheader__link li {
  list-style-type: none;
  margin-right: 1rem;
}
.subheader__link li a {
  text-decoration: none;
  color: #fff;
}
.subheader__address {
  display: flex;
  align-items: center;
}
.subheader__address li {
  list-style-type: none;
}

.subheader__address li a {
  text-decoration: none;
  color: #fff;
}
.subheader__address__icon {
  color: #fff;
}
.subheader__link__last {
  display: flex;
  justify-content: flex-end;
}
